#Ribbon_home_Format_content {
    display: grid;
    grid-template-columns: auto auto;
}
.e-innerdivchild {
    display: flex;
    align-items: center;
}

#Ribbon_home_Format_2 {
    display: flex;
    align-items: center;
}
.e-ribGroupContent {
    height: 70px !important;
}
#Ribbon_home_UndoAction {
    width: auto !important;
}
#Ribbon_home_Annotation_4 .e-button,
#Ribbon_home_Annotation_5 .e-button {
    padding: 0;
}
.flaticon-node-menu-home-list {
    background-image: url("/image/node-menu.svg");
    background-size: cover;
    width: 40px;
    height: 40px;
}
#Ribbon_insert_DiagramParts_container .e-splitarrowright {
    padding: 0 !important;
}
#Ribbon_insert_DiagramParts_container #Ribbon_containerdrpbtn {
    padding: 0 !important;
    height: unset;
    top: 64px;
    left: 28px;
    background: transparent;
}
#listSubMenucontainerInsert {
    width: auto;
    padding: 20px;
}

#listSubMenucontainerInsert .listSubMenucontainerInsert {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}
#Ribbon_insert_DiagramParts_list .e-splitarrowright {
    padding: 0 !important;
}
#Ribbon_insert_DiagramParts_list #Ribbon_listdrpbtn {
    padding: 0 !important;
    height: unset;
    top: 64px;
    left: 22px;
    background: transparent;
}
#listSubMenuListInsert {
    width: auto;
}

#listSubMenuListInsert .listSubMenuListInsert {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

#listSubMenuListInsert .title_list_sub_menu_insert {
    padding: 8px;
    background: #f0f8ff;
    margin: 12px 0;
}
#Ribbon_view_Zoom_1 {
    display: block;
}
#Ribbon_view_Zoom_Fit {
    float: unset;
}
#Ribbon_view_Zoom_Fit #Ribbon_Fit .e-btn-span {
    display: flex;
}
#Ribbon_view_Zoom_PageWidth #Ribbon_PageWidth .e-btn-span {
    display: flex;
}
#Ribbon_view_Show_1 {
    display: grid;
    grid-template-columns: auto auto;
}

#Ribbon_Bracketdrpbtn {
    padding: 0 !important;
    height: unset;
    top: 64px;
    left: 54px;
    background: transparent;
}
.Ribbon_equations_DiagramParts_Bracket #Ribbon_Bracketdrpbtn {
    left: 51px;
}
#Ribbon_equations_DiagramParts_Bracket .e-splitarrowright {
    padding: 0 !important;
}
#Ribbon_equations_DiagramParts_Bracket .e-btntxt {
    padding-left: 30px !important;
}

#Ribbon_Decoratordrpbtn {
    padding: 0 !important;
    height: unset;
    top: 64px;
    left: 54px;
    background: transparent;
}
.Ribbon_equations_DiagramParts_Decorator #Ribbon_Bracketdrpbtn {
    left: 51px;
}
#Ribbon_equations_DiagramParts_Decorator .e-splitarrowright {
    padding: 0 !important;
}
#Ribbon_equations_DiagramParts_Decorator .e-btntxt {
    padding-left: 30px !important;
}

#Ribbon_Sumdrpbtn {
    padding: 0 !important;
    height: unset;
    top: 64px;
    left: 54px;
    background: transparent;
}
.Ribbon_equations_DiagramParts_Sum #Ribbon_Bracketdrpbtn {
    left: 51px;
}
#Ribbon_equations_DiagramParts_Sum .e-splitarrowright {
    padding: 0 !important;
}
#Ribbon_equations_DiagramParts_Sum .e-btntxt {
    padding-left: 8px !important;
}

#Ribbon_Intergraldrpbtn {
    padding: 0 !important;
    height: unset;
    top: 64px;
    left: 54px;
    background: transparent;
}
#Ribbon_equations_DiagramParts_Intergral #Ribbon_Bracketdrpbtn {
    left: 51px;
}
#Ribbon_equations_DiagramParts_Intergral .e-splitarrowright {
    padding: 0 !important;
}
#Ribbon_equations_DiagramParts_Intergral .e-btntxt {
    padding-left: 28px !important;
}

#Ribbon_Scriptdrpbtn {
    padding: 0 !important;
    height: unset;
    top: 64px;
    left: 54px;
    background: transparent;
}
#Ribbon_equations_DiagramParts_Script #Ribbon_Bracketdrpbtn {
    left: 51px;
}
#Ribbon_equations_DiagramParts_Script .e-splitarrowright {
    padding: 0 !important;
}
#Ribbon_equations_DiagramParts_Script .e-btntxt {
    padding-left: 38px !important;
}

#Ribbon_Fractiondrpbtn {
    padding: 0 !important;
    height: unset;
    top: 64px;
    left: 54px;
    background: transparent;
}
#Ribbon_equations_DiagramParts_Fraction #Ribbon_Bracketdrpbtn {
    left: 51px;
}
#Ribbon_equations_DiagramParts_Fraction .e-splitarrowright {
    padding: 0 !important;
}
#Ribbon_equations_DiagramParts_Fraction .e-btntxt {
    padding-left: 0px !important;
}

#Ribbon_Labeleddrpbtn {
    padding: 0 !important;
    height: unset;
    top: 64px;
    left: 54px;
    background: transparent;
}
#Ribbon_equations_DiagramParts_Labeled #Ribbon_Bracketdrpbtn {
    left: 51px;
}
#Ribbon_equations_DiagramParts_Labeled .e-splitarrowright {
    padding: 0 !important;
}
#Ribbon_equations_DiagramParts_Labeled .e-btntxt {
    padding-left: 14px !important;
}

#Ribbon_Underbardrpbtn {
    padding: 0 !important;
    height: unset;
    top: 64px;
    left: 54px;
    background: transparent;
}
#Ribbon_equations_DiagramParts_Underbar #Ribbon_Bracketdrpbtn {
    left: 51px;
}
#Ribbon_equations_DiagramParts_Underbar .e-splitarrowright {
    padding: 0 !important;
}
#Ribbon_equations_DiagramParts_Underbar .e-btntxt {
    padding-left: 0px !important;
}
