* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: thin;
}

tspan {
    font-family: serif;
}
*::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

*::-webkit-scrollbar-track {
    background-color: #dddddd;
}

*::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
}

:root {
    height: 100vh;
}

html,
body,
#app-content {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

ul {
    all: revert;
}
#Ribbon {
    height: 158px;
    font-size: 5px;
}

#container {
    height: calc(100% - 150px);
    width: 100%;
    padding: 2px 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 1fr 5px 4fr 5px 1fr;
}

#left-section,
#right-section,
#middle-section {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 99.2%;
    overflow: scroll;
}

#left-section {
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid darkgray;
}

#middle-section {
    border: 1px solid darkgray;
}

#right-section {
    overflow: hidden;
}

#pageOptionList {
    background-color: whitesmoke;
    border-bottom: 1px solid darkgrey;
    width: 100%;
    height: 25px;
}

#left-drag-bar {
    background-color: white;
    cursor: ew-resize;
}

#right-drag-bar {
    background-color: white;
    cursor: ew-resize;
}
.e-btn {
    text-transform: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol-text-element {
    text-align: center;
    font-size: 10px;
    font-weight: Bold;
    line-height: 90%;
}

.point-circle {
    transform: scale(0.2, 0.2) translate(10px, 10px);
}

.list-container ul {
    list-style: none;
    padding-left: 30px;
}

.padding-zero {
    padding: 0 !important;
}

#model-container {
    overflow-x: scroll;
    font-size: 14px;
    border: 1px solid darkgrey;
    height: 50%;
    margin-bottom: 5px;
}

#task-list-container {
    height: calc(50% - 5px);
    border: 1px solid darkgrey;
}

.model-list {
    margin: 0px;
}

.list-arrow::before {
    content: "\25B6";
    color: black;
    font-size: 11px;
    display: inline-block;
}

.list-open::before {
    transform: rotate(45deg);
}

.model-list li,
.model-button {
    padding: 5px;
    height: 40px;
    min-width: max-content;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.model-list li:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.nested-list {
    display: none;
}

.list-icon {
    height: 25px;
    width: 25px;
    margin: 0 5px;
}

.page-tab {
    height: 25px;
    padding: 5px;
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 2px;
    font-size: 12px;
    width: calc(max-content);
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.button-text {
    padding-right: 7px;
    display: inline-flex;
    align-items: center;
    height: 25px;
}

.button-cross::after {
    content: "\2716";
    cursor: pointer;
}

.button-cross:hover {
    color: crimson;
}
.active-model-page {
    font-size: 13px;
    font-weight: bolder;
    background-color: white;
}

#active-context-menu {
    padding: 0;
    height: fit-content;
}
.context-list {
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    list-style: none;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    height: 30px;
    min-height: fit-content;
    display: flex;
    align-items: center;
}
.context-list:hover {
    background-color: #dddddd;
}

.has-open-context-menu {
    background-color: #dddddd;
}

.other-form {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -50px;
    margin-right: -125px;
    border: black solid 1px;
    height: 120px;
    width: 250px;
    background-color: white;
}

.dialog-title {
    background-color: #0ab352;
    width: 100%;
    font-size: 14px;
    color: whitesmoke;
    height: 25px;
}

.dialog-title > span {
    line-height: 25px;
}
.other-label {
    display: block;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 14px;
}

.other-input {
    margin-left: 15px;
    margin-top: 5px;
    font-size: smaller;
    width: 85%;
}

.title-text {
    padding-left: 5px;
    width: 92%;
    display: inline-block;
}

.cross-button {
    width: 8%;
    display: inline-block;
    background-color: rgb(253, 54, 39);
    text-align: center;
    user-select: none;
    line-height: 25px;
}
.cross-button:hover {
    cursor: pointer;
    background-color: red;
}

.other-submit {
    margin-top: 5px;
    margin-left: 80%;
    width: 40px;
    height: 20px;
}

.disabled-button {
    background-color: #cccccc;
    color: #777777;
}

.disabled-button:hover {
    cursor: default;
}

.e-btn:not(.e-inputbtn),
.e-tbtn,
.e-split-btn {
    font-size: 12px;
    border: 1px solid #dbdbdb;
}
.e-btn,
.e-css.e-btn {
    padding: 6px 12px;
}

.e-menu.e-context {
    width: 225px;
}

.e-contextmenu-wrapper ul .e-menu-item,
.e-contextmenu-container ul .e-menu-item {
    height: max-content;
    line-height: 24px;
}

#diagram_contextMenu {
    font-size: 12px;
    color: #444444;
}

#subListDiagram {
    font-size: 12px;
    color: #444444;
}

#subListDiagram li {
    height: max-content;
    line-height: 24px;
}

.e-ribbon .e-active-content {
    z-index: 999;
}

.grey-onhover:hover {
    background-color: #eeeeee;
    color: #222222;
}

.hidden {
    display: none;
}

#activeDialog {
    width: 350px;
    background-color: white;
    position: absolute;
    top: 50%;
    margin-left: -170px;
    left: 50%;
    z-index: 1000;
}

.dialog-container {
    width: 330px;
    max-height: 370px;
    margin-top: 10px;
    overflow: scroll;
    overflow-x: hidden;
    font-size: smaller !important;
}

#activeDialog ul {
    padding-left: 10px;
}

.btn-primary {
    background-color: #0ab352;
}

.btn-primary:hover {
    background-color: #0ab500;
}
.e-ribbon .e-header > .e-apptab .e-menu {
    background: #0ab352;
}

.e-ribbon.e-js .e-header .e-active.e-tab a,
.e-ribbon.e-js .e-header .e-active.e-contextualtabset a {
    color: #0ab352;
}
.e-ribbon.e-js .e-header .e-active.e-tab a {
    height: 100%;
}

.e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-icon,
.e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-content,
.e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-icon,
.e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-content {
    color: #0ab352;
}

.e-ribbon.e-js .e-header li.e-select:not(.e-apptab) a:hover {
    color: #0ab352;
}

.custom-btn {
    color: whitesmoke;
    background-color: #0ab352;
    margin-top: 7px;
    display: inline-block;
    margin-left: calc(100% - 50px);
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.custom-btn:hover {
    color: white;
}

.loading-overlay {
    visibility: visible;
    z-index: 9999;
    position: fixed;
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s linear;
}
.hidden {
    visibility: hidden !important;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.bg-transparent {
    background-color: transparent !important;
}

.w-112px {
    width: 112px;
}
.w-200px {
    width: 200px;
}
.w-100 {
    width: 100%;
}
.flex-1 {
    flex: 1;
}
.d-flex {
    display: flex;
    align-items: center;
}
.group-button-dialog-group-of-people {
    justify-content: flex-end;
    padding-top: 10px;
}
.group-button-dialog-group-of-people button {
    border: 1px solid;
    border-radius: 4px;
    padding: 0 8px;
}
.m-r-4 {
    margin-right: 4px;
}
.m-r-8 {
    margin-right: 8px;
}
.m-l-8 {
    margin-left: 8px;
}
.m-b-8 {
    margin-bottom: 8px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.p-r-20 {
    padding-right: 20px;
}
.p-l-20 {
    padding-left: 20px;
}
.line-height-20 {
    line-height: 20px;
}
.e-dialog .e-dlg-header {
    font-size: 14px;
}
.e-dialog .e-dlg-header-content,
.e-dialog .e-dlg-content {
    padding: 8px;
}
.e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
    border-radius: 0;
    left: 4px;
}
.e-dialog .e-footer-content {
    padding-top: 0;
}
.justify-content-space-between {
    justify-content: space-between;
}
#dialogGroupofPeople,
#dialogNodeTableComm,
#dialogContinuityPerson,
#dialogMainArea,
#dialogLabel {
    padding: 8px;
    background: #0d6efd59;
}

.list-item-pointTo #option7,
.list-item-pointTo #option8,
.list-item-pointTo #option9,
.list-item-pointTo #option10,
.list-item-pointTo #option11,
.list-item-pointTo #option12,
.list-item-pointTo #option13,
.list-item-pointTo #option14,
.list-item-pointTo #option15,
.list-item-pointTo #option16,
.list-item-pointTo #option17,
.list-item-pointTo #option18,
.list-item-pointTo #option19,
.list-item-pointTo #option20,
.list-item-pointTo #option21,
.list-item-pointTo #option22,
.list-item-pointTo #option23,
.list-item-pointTo #option24,
.list-item-pointTo #option25,
.list-item-pointTo #option26,
.list-item-pointTo #option27,
.list-item-pointTo #option28,
.list-item-pointTo #option29,
.list-item-pointTo #option30,
.list-item-pointTo #option31,
.list-item-pointTo #option32,
.list-item-pointTo #option33,
.list-item-pointTo #option34,
.list-item-pointTo #option35 {
    display: none;
}
.list-item-giveRiseTo #option1,
.list-item-giveRiseTo #option2,
.list-item-giveRiseTo #option3,
.list-item-giveRiseTo #option4,
.list-item-giveRiseTo #option5,
.list-item-giveRiseTo #option6,
.list-item-giveRiseTo #option7,
.list-item-giveRiseTo #option8,
.list-item-giveRiseTo #option9,
.list-item-giveRiseTo #option10,
.list-item-giveRiseTo #option11,
.list-item-giveRiseTo #option12,
.list-item-giveRiseTo #option19,
.list-item-giveRiseTo #option20,
.list-item-giveRiseTo #option21,
.list-item-giveRiseTo #option22,
.list-item-giveRiseTo #option23,
.list-item-giveRiseTo #option24,
.list-item-giveRiseTo #option25,
.list-item-giveRiseTo #option26,
.list-item-giveRiseTo #option27,
.list-item-giveRiseTo #option28,
.list-item-giveRiseTo #option29,
.list-item-giveRiseTo #option30,
.list-item-giveRiseTo #option31,
.list-item-giveRiseTo #option32,
.list-item-giveRiseTo #option33,
.list-item-giveRiseTo #option34,
.list-item-giveRiseTo #option35 {
    display: none;
}
.list-item-relatedTo #option1,
.list-item-relatedTo #option2,
.list-item-relatedTo #option3,
.list-item-relatedTo #option4,
.list-item-relatedTo #option5,
.list-item-relatedTo #option6,
.list-item-relatedTo #option7,
.list-item-relatedTo #option8,
.list-item-relatedTo #option9,
.list-item-relatedTo #option10,
.list-item-relatedTo #option11,
.list-item-relatedTo #option12,
.list-item-relatedTo #option19,
.list-item-relatedTo #option20,
.list-item-relatedTo #option21,
.list-item-relatedTo #option22,
.list-item-relatedTo #option23,
.list-item-relatedTo #option24,
.list-item-relatedTo #option25,
.list-item-relatedTo #option26,
.list-item-relatedTo #option27,
.list-item-relatedTo #option28,
.list-item-relatedTo #option29,
.list-item-relatedTo #option30,
.list-item-relatedTo #option31,
.list-item-relatedTo #option32,
.list-item-relatedTo #option33,
.list-item-relatedTo #option34,
.list-item-relatedTo #option35 {
    display: none;
}

.list-item-by #option1,
.list-item-by #option2,
.list-item-by #option3,
.list-item-by #option4,
.list-item-by #option5,
.list-item-by #option6,
.list-item-by #option7,
.list-item-by #option8,
.list-item-by #option9,
.list-item-by #option10,
.list-item-by #option11,
.list-item-by #option12,
.list-item-by #option13,
.list-item-by #option14,
.list-item-by #option15,
.list-item-by #option16,
.list-item-by #option17,
.list-item-by #option18,
.list-item-by #option22,
.list-item-by #option23,
.list-item-by #option24,
.list-item-by #option25,
.list-item-by #option26,
.list-item-by #option27,
.list-item-by #option28,
.list-item-by #option29,
.list-item-by #option30,
.list-item-by #option31,
.list-item-by #option32,
.list-item-by #option33,
.list-item-by #option34,
.list-item-by #option35 {
    display: none;
}

.list-item-depend #option1,
.list-item-depend #option2,
.list-item-depend #option3,
.list-item-depend #option4,
.list-item-depend #option5,
.list-item-depend #option6,
.list-item-depend #option7,
.list-item-depend #option8,
.list-item-depend #option9,
.list-item-depend #option10,
.list-item-depend #option11,
.list-item-depend #option12,
.list-item-depend #option13,
.list-item-depend #option14,
.list-item-depend #option15,
.list-item-depend #option16,
.list-item-depend #option17,
.list-item-depend #option18,
.list-item-depend #option19,
.list-item-depend #option20,
.list-item-depend #option21,
.list-item-depend #option24,
.list-item-depend #option25,
.list-item-depend #option26,
.list-item-depend #option27,
.list-item-depend #option28,
.list-item-depend #option29,
.list-item-depend #option30,
.list-item-depend #option31,
.list-item-depend #option32,
.list-item-depend #option33,
.list-item-depend #option34,
.list-item-depend #option35 {
    display: none;
}

.list-item-agree #option1,
.list-item-agree #option2,
.list-item-agree #option3,
.list-item-agree #option4,
.list-item-agree #option5,
.list-item-agree #option6,
.list-item-agree #option7,
.list-item-agree #option8,
.list-item-agree #option9,
.list-item-agree #option10,
.list-item-agree #option11,
.list-item-agree #option12,
.list-item-agree #option13,
.list-item-agree #option14,
.list-item-agree #option15,
.list-item-agree #option16,
.list-item-agree #option17,
.list-item-agree #option18,
.list-item-agree #option19,
.list-item-agree #option20,
.list-item-agree #option21,
.list-item-agree #option22,
.list-item-agree #option26,
.list-item-agree #option27,
.list-item-agree #option28,
.list-item-agree #option29,
.list-item-agree #option30,
.list-item-agree #option31,
.list-item-agree #option32,
.list-item-agree #option33,
.list-item-agree #option34,
.list-item-agree #option35 {
    display: none;
}

.list-item-match #option1,
.list-item-match #option2,
.list-item-match #option3,
.list-item-match #option4,
.list-item-match #option5,
.list-item-match #option6,
.list-item-match #option7,
.list-item-match #option8,
.list-item-match #option9,
.list-item-match #option10,
.list-item-match #option11,
.list-item-match #option12,
.list-item-match #option13,
.list-item-match #option14,
.list-item-match #option15,
.list-item-match #option16,
.list-item-match #option17,
.list-item-match #option18,
.list-item-match #option19,
.list-item-match #option20,
.list-item-match #option21,
.list-item-match #option22,
.list-item-match #option23,
.list-item-match #option24,
.list-item-match #option25,
.list-item-match #option26,
.list-item-match #option27,
.list-item-match #option28,
.list-item-match #option29,
.list-item-match #option30,
.list-item-match #option31,
.list-item-match #option32,
.list-item-match #option33,
.list-item-match #option34,
.list-item-match #option35 {
    display: none;
}

/* .list-item-errorToProblem #option1,
.list-item-errorToProblem #option2,
.list-item-errorToProblem #option3,
.list-item-errorToProblem #option4,
.list-item-errorToProblem #option5,
.list-item-errorToProblem #option6,
.list-item-errorToProblem #option7,
.list-item-errorToProblem #option8,
.list-item-errorToProblem #option9,
.list-item-errorToProblem #option10,
.list-item-errorToProblem #option11,
.list-item-errorToProblem #option12,
.list-item-errorToProblem #option13,
.list-item-errorToProblem #option14,
.list-item-errorToProblem #option15,
.list-item-errorToProblem #option16,
.list-item-errorToProblem #option17,
.list-item-errorToProblem #option18,
.list-item-errorToProblem #option19,
.list-item-errorToProblem #option20,
.list-item-errorToProblem #option21,
.list-item-errorToProblem #option22,
.list-item-errorToProblem #option23,
.list-item-errorToProblem #option24,
.list-item-errorToProblem #option25,
.list-item-errorToProblem #option26,
.list-item-errorToProblem #option27,
.list-item-errorToProblem #option28,
.list-item-errorToProblem #option29,
.list-item-errorToProblem #option30,
.list-item-errorToProblem #option31,
.list-item-errorToProblem #option32,
.list-item-errorToProblem #option33 {
    display: none;
} */
